{{#each posts as |post|}}
<section class="card" id="{{post.id}}">
  <a href="/post/{{id}}">
    <h1>{{post.title}}</h1>
    <div>{{last_updated post.updatedAt}}</div>
    <div>{{post.content}}</div>
    <div>{{post.User.username}}</div>
  </a>
</section>
{{/each}}